<.form for={@form} action={~p"/topics/new"}
  class="flex flex-col items-center w-[94%] lg:w-full mx-auto lg:mx-0">
  <div class="w-full">
    <.input label="Topic:" field={@form[:title]} type="text" placeholder="Enter Topic Title" maxlength="150"
      class="rounded-lg w-full focus:border-2 border-gray-200 border focus:border-blue-600" />

  </div>

  <.button type="submit">
    Save Topic
  </.button>
</.form>