<.header>
  Edit Topic
  <:subtitle>Use this form to manage topic records in your database.</:subtitle>
</.header>

<.topic_form
  btn_text="Edit Topic"
  changeset={@changeset}
  action={~p"/topics/#{@topic}"}
  method="put"
/>

<.back navigate={~p"/"}>Back to topics</.back>
