<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:username]} type="text" label="Username" />
  <.input field={f[:email]} type="text" label="Email" />
  <.input field={f[:provider]} type="text" label="Provider" />
  <.input field={f[:token]} type="text" label="Token" />
  <:actions>
    <.button>Save User</.button>
  </:actions>
</.simple_form>
